.chat-bar
  .bar-header
    %h3.bar-header__name-box
      = current_user.name
    %ul.bar-header__bottons
      %li.botton
        = link_to new_group_path do
          = fa_icon 'edit', class: 'botton'
      %li.botton
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'botton'
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__group-message
            = group.show_last_message
